// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_QUERY_DIALOG DIALOGEX 0, 0, 185, 84
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter size"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "Width in pixels",IDC_STATIC,10,10,80,10
    EDITTEXT        IDC_EDIT_INT1,7,21,80,14,ES_AUTOHSCROLL
    LTEXT           "Height in pixels",IDC_STATIC,100,10,80,10
    EDITTEXT        IDC_EDIT_INT2,98,19,80,14,ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDOK,99,52,50,14
    EDITTEXT        IDC_EDIT_INT3,8,52,80,14,ES_AUTOHSCROLL
    LTEXT           "Color model",IDC_STATIC,9,39,80,10
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_QUERY_DIALOG, DIALOG
    BEGIN
        BOTTOMMARGIN, 66
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_QUERY_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "F100cTomas"
            VALUE "FileDescription", "Allows user to view .txt files as images"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "IKT-GUI.exe"
            VALUE "LegalCopyright", "MIT License (C) 2024 F100cTomas"
            VALUE "OriginalFilename", "IKT-GUI.exe"
            VALUE "ProductName", "Image Viewer"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "C:\\Users\\F100c\\Documents\\Image_viewer.ico"

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

